@use '@carbon/type';

.modalHeader {
  @include type.type-style('heading-compact-02');
}

.bodyText {
  @include type.type-style('body-long-01');
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 30px !important;
}

.cds--modal-content {
  
  padding-inline-end: 0% !important;
}